{{! single blogPost view }}
<div class="blogPost">
  <article class="card">
    <section class="card-header flex-row justify-space-between">
      <h2>{{blogPost.title}}</h2>
      <div>
        Blog by:
        {{blogPost.user.username}}
      </div>
    </section>
    <section>
      <div class="card-content">
        <div class="content">
          {{blogPost.body}}
        </div>
      </div>
    </section>
  </article>

  {{#if blogPost.comments}}
    <section class="card">
      <div class="card-header">
        <h3>Comments</h3>
      </div>
      <div class="card-content">
        {{#each blogPost.comments}}
          <div>
            <p>
              {{body}}
            </p>
            <p>
              {{User.username}},
              {{format_date createdAt}}
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}

  <form id="newCommentForm" class="card">
    <section class="card-header">
      <h3>Add Your Comment</h3>
    </section>
    <div class="card-content">
      <input
        type="hidden"
        id="post-id"
        name="post-id"
        value=""
        {{blogPost.id}}
      />
      <div class="field">
        <label class="label" for="comment-body">
          Comment
        </label>
        <div class="control">
          <input id="comment-body" name="comment-body" class="textarea" />
        </div>
      </div>
      <div class="field">
        <button type="submit" class="button is primary">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>

<script src="/public/js/comment.js"></script>